/* PC */
@media (min-width: 64em) {
}

/* Tablet and mobile */
@media (max-width: 63.9375em) {
  .btn {
    padding: 13px 16px;
  }

  #nav .subnav a {
    padding: 5px 16px;
  }

  .contact-form .form-control {
    padding: 12px;
  }

  .contact-info {
    line-height: 2;
  }

  #footer .copyright a {
    display: inline-block;
    padding: 10px 0;
  }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  #footer .socials-list {
    font-size: 48px;
  }

  #footer .socials-list a {
    margin: 0 8px;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  .s-full-width,
  #content .s-col-full {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px;
  }

  #header {
    overflow: hidden;
  }

  #header .menu-mobile-btn {
    display: block;
  }

  #header .search-btn {
    display: none;
  }

  #nav {
    display: block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: #fff;
    padding: 5px 40px;
  }

  #nav li a {
    padding: 1px 24px;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  .contact-info {
    margin-bottom: 32px;
  }

  #footer .socials-list {
    font-size: 28px;
  }

  #footer .socials-list a {
    margin: 0 4px;
  }
}
